<html>
    <head>
        <title>Code Editor</title>
    </head>
    <body>
        <div class="page_toolbar"></div>
        <div class="cloud-ide-editor" id="editor"></div>
    </body>
    <script src="./lib/emmet.js"></script>
    <script src="./lib/ace-min-noconflict/ace.js"></script>
    <script src="<%= buildDir %>main.build.js"></script>
</html>