#ace_settingsmenu{
	-webkit-font-smoothing: antialiased !important;
	font-family: 'Open Sans', sans-serif !important;
	font-size: 13px !important;
	color: #818181 !important;
	box-shadow: none !important;
}